.page-projetos {
    .hentry {
        background-color: transparent;
    }
    .entry-projects {
        padding-bottom: 3%;
    }
    .project-title {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background: #fff;
        padding: 18px 25px;
        margin: 15px;
        width: 210px;
        font-size: 1.85rem;
        transition: all 0.5s ease 0s;
        cursor: pointer;
    }
    .project-title:hover {
        background: #8da4b6;
        color: white !important;
    }
    .project-title h2:hover {
        color: white;
    }
    .project-title h2 {
        font-size: 1.75rem;
    }
    .project-title a {
        color: black;
    }
    .project-title p {
        margin-bottom: 0px;
        font-size: 1.35rem;
    }
}