.page-novidades {
    .hentry {
        background-color: transparent;
    }
    .novidades-content h2 {
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 2.25rem;
        padding: 0;
    }
    .novidades-content p {
        margin-bottom: 0.5rem;
    }
    .novidades-content .more-link-container {
        padding: 3% 0;
    }
    .entry-news {
        padding-bottom: 3%;
    }
}